.author-info {
    margin-top: -70px;
    padding: 20px;
  
    background-color: #f8f8f8;
    margin-left: 40px;
}

.author-info h3 {
    margin-top: 0;
}

.author-info img {
    display: block;
    
    max-width: 100px;
    border-radius: 50%;
}